<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
</head>
<body>
    <header>
        <h1><a href="/" style="color: black; text-decoration:none;">メモアプリ</a></h1>
    </header>

    <%= yield %>
</body>
</html>
