<form action="/memos/new" method="POST">
    <div class="memo_name">
        <input type="text" name="name" value="新規メモ" />
    </div>
    <div class="memo_content">
        <textarea name="content" rows="5"></textarea>
    </div>
    <div class="bottom_buttons">
        <input type="submit" value="保存">
    </div>
</form>
